html {
  margin: 0;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
i {
  text-align: center;
  font-style: normal;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  list-style-type: none;
  display: block;
}
p {
  color: #6c7279;
  margin-bottom: 0;
}
h6 {
  text-transform: uppercase;
}
a {
  color: darkgrey;
  &:hover {
    text-decoration: none !important;
  }
}
section {
  padding: 6.25rem 0;
}
.myContainer {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.no-padding {
  padding: 0;
}
.min-height-100 {
  min-height: 100vh;
}
.no-plpr {
  padding-left: 0;
  padding-right: 0;
}
#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  width: 70%;
  right: 0;
  left: 0;
  padding: 1.8vmax 0;
  img {
    height: 4vmax;
  }
}
.navigation {
  li {
    display: inline-block;
  }
  ul {
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: -0.2rem;
  }
}
.menu__item {
  a {
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 0 0 2rem 2rem;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
      color: #e84545;
    }
  }
}
#my-menu {
  a {
    z-index: 999999;
  }
  li {
    z-index: 0;
  }
}
.mmenu-button {
  font-size: 1.5rem;
  a {
    color: #a9a9a9 !important;
    text-decoration: none !important;
  }
}
.banner {
  background: url('images/banner.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: 400;
}
.text-block {
  h1 {
    margin-top: 14rem;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    display: block;
    line-height: 1.1em;
  }
}
.header-button {
  margin-top: 6rem;
}
.red-button {
  background: #e84545;
  text-decoration: none !important;
  color: #fff !important;
  max-width: 12.5rem;
  border-radius: 0;
  margin-top: 3.75rem;
  margin-bottom: 9.6875rem;
  padding: 1rem 4rem;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}
.info {
  margin-bottom: 3.125rem;
}
.info__title {
  margin-bottom: 1.25rem;
  font-weight: 600;
}
.image {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: contents;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  img {
    width: 100%;
  }
  &:hover {
    & > .image__absolute {
      opacity: 1;
    }
  }
}
.image__absolute {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.7);
  top: 0;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.team__name {
  margin-top: 1.5625rem;
}
.team__prof {
  color: #e84545;
  margin-bottom: 1.5625rem;
}
.team__icon {
  border: 1px groove;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 1rem 0.25rem 6rem;
  font-size: 1rem;
  padding: 0.6rem 0.9rem;
  &:hover {
    border: 1px solid;
    color: red;
  }
}
.purple {
  background: #53354a;
}
.carousel {
  display: contents;
}
.carousel-item {
  margin-top: 6vw;
  text-align: left;
  width: 100%;
  padding: 0 50px;
}
.carousel-indicators {
  padding-bottom: 5px;
  li {
    border: 1px;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    margin: 0 8px;
  }
}
.testimonials {
  h2 {
    color: #fff;
  }
  cite {
    color: #fff;
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
  }
}
blockquote {
  h2 {
    width: 100%;
  }
}
.testimonial {
  img {
    width: 100%;
  }
}
.content {
  background: #53354a;
  height: 100%;
  padding: 0;
}
.ask {
  padding-bottom: 6.25rem;
}
.ask__title {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.ask__text {
  padding: 0 0 1.125rem;
  font-weight: 700;
  color: #2d3033;
}
.social-networks {
  background-color: #3a3e64;
}
.social-networks__title {
  font-weight: 600;
  color: #fff;
}
.social-networks__text {
  width: 60%;
  margin: 0 auto;
}
.social-networks__icon {
  margin: 0 0.25rem;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover {
    border: 1px solid;
    color: #e84545;
  }
}
.footer {
  background-color: #313454;
  padding: 1.875rem;
}
.footer__y {
  color: red;
}
.footer__by {
  color: #fff;
}
