<template>
  <div id="app">
    <div id="my-page">
      <div id="my-header">
        <nav id="my-menu" class="text-uppercase">
          <ul>
            <li><a href="#" v-scroll-to="'#info'">features</a></li>
            <li><a href="#" v-scroll-to="'#images'">works</a></li>
            <li><a href="#" v-scroll-to="'#team'">our team</a></li>
            <li><a href="#" v-scroll-to="'#testimonials'">testimonials</a></li>
            <li><a href="#" v-scroll-to="'#ask'">download</a></li>
          </ul>
        </nav>

        <div class="banner no-padding min-height-100" role="banner">
          <header id="header">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 col-6 d-flex justify-content-left">
                <a href="#"><img src="../src/images/logo.png" alt="ActiveBox"></a>

              </div>
              <div class="col-lg-8 col-md-6 col-sm-6 col-6 d-flex justify-content-end align-items-center">
                <nav class="navigation">
                  <ul class="text-uppercase">

                    <li class="menu__item">
                      <a href="#info" v-scroll-to="'#info'">
                        features
                      </a>
                    </li>
                    <li class="menu__item">
                      <a href="#images" v-scroll-to="'#images'">
                        works
                      </a>
                    </li>
                    <li class="menu__item">
                      <a href="#team" v-scroll-to="'#team'">
                        our team
                      </a>
                    </li>
                    <li class="menu__item">
                      <a href="#testimonials" v-scroll-to="'#testimonials'">
                        testimonials
                      </a>
                    </li>
                    <li class="menu__item">
                      <a href="#ask" v-scroll-to="'#ask'">
                        download
                      </a>
                    </li>

                  </ul>
                </nav>
                <div class="mmenu-button text-uppercase">
                  <a id="my-menu__btn" href="#my-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>

              </div>
            </div>
          </header>
          <div class="myContainer">
            <div class="row ">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-block text-center mb-5">
                <h1 class="text-uppercase mb-4">
                  Your Favorite One Page<br>Multi Purpose Template
                </h1>
                <h4 class="mb-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Praesent commodo cursus magna vel scelerisque nisl consectetur et.
                </h4>
                <div class="text-uppercase header-button">
                  <a href="#" class="red-button" @click.prevent="getItems">find out more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="my-content">
        <section id="info" v-show="hasItems">
          <div class="container">

            <div class="row">
              <div class="col-md-4 col-sm-6 info" :key="index" v-for="(item,index) in items">
                <div class="text-center">
                  <img :src="item.thumbnailUrl" alt="">
                  <div>
                    <h5 class="info__title text-uppercase">
                      {{ item.title }}
                    </h5>
                    <p>
                      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <section id="images" class="no-padding">
          <div class="myContainer image">
            <div class="row no-gutter">
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-1.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-2.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-3.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-4.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-5.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-6.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-7.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 d-flex image">
                <div class="image">
                  <img src="../src/images/work-8.jpg" alt="image">
                  <div class="image__absolute d-flex align-items-center justify-content-center">
                    <div>
                      <h3>
                        User Interface Design
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="people" id="team">
          <div class="container">
            <div class="row ">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12 team__block text-left">
                <img src="../src/images/team-1.jpg" alt="team">
                <h3 class="team__name">
                  Ruth Woods
                </h3>
                <h6 class="team__prof">
                  founder, ceo
                </h6>
                <p class="team__text">
                  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="https://facebook.com"><i class="fa fa-facebook team__icon"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter team__icon"></i></a>
                <a href="https://linkedin.com"><i class="fa fa-linkedin team__icon"></i></a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12 team__block text-left">
                <img src="../src/images/team-2.jpg" alt="team">
                <h3 class="team__name">
                  Timothy Reed
                </h3>
                <h6 class="team__prof">
                  Co-Founder, Developer
                </h6>
                <p class="team__text">
                  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="https://facebook.com"><i class="fa fa-facebook team__icon"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter team__icon"></i></a>
                <a href="https://linkedin.com"><i class="fa fa-linkedin team__icon"></i></a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12 team__block text-left">
                <img src="../src/images/team-3.jpg" alt="team">
                <h3 class="team__name">
                  Beverly Little
                </h3>
                <h6 class="team__prof">
                  Data Scientist
                </h6>
                <p class="team__text">
                  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="https://facebook.com"><i class="fa fa-facebook team__icon"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter team__icon"></i></a>
                <a href="https://linkedin.com"><i class="fa fa-linkedin team__icon"></i></a>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12 team__block text-left">
                <img src="../src/images/team-4.jpg" alt="team">
                <h3 class="team__name">
                  Victoria Valdez
                </h3>
                <h6 class="team__prof">
                  UI Designer
                </h6>
                <p class="team__text">
                  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
                </p>
                <a href="https://facebook.com"><i class="fa fa-facebook team__icon"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter team__icon"></i></a>
                <a href="https://linkedin.com"><i class="fa fa-linkedin team__icon"></i></a>
              </div>
            </div>
          </div>
        </section>
        <section class="testimonials no-padding" id="testimonials">

          <div class="myContainer">

            <div class="row">

              <div class="col-xl-6 col-lg-12 col-md-12 no-plpr">
                <div class="testimonial">
                  <img src="../src/images/testimonial-1.jpg" alt="test">
                </div>
              </div>

              <div class="col-xl-6 col-lg-12 col-md 12 no-plpr ">
                <div class="content">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner content justify-content-center align-items-center">
                      <div class="carousel-item active">
                        <blockquote>
                          <h2>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                          </h2>
                          <div class="text-uppercase">
                            <cite>Susan Sims, Interaction Designer at XYZ</cite>
                          </div>
                        </blockquote>
                      </div>
                      <div class="carousel-item">
                        <blockquote>
                          <h2>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...."
                          </h2>
                          <div class="text-uppercase">
                            <cite>Susan Sims, Interaction Designer at XYZ</cite>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="ask" id="ask">
          <div class="myContainer text-center">
            <div class="row">
              <div class="col-12 question">
                <h2 class="ask__title mb-4">
                  Are You Ready to Start? Download Now For Free!
                </h2>
                <div class="text-uppercase">
                  <p class="ask__text mb-4">
                    Fusce dapibus, tellus ac cursus commodo
                  </p>
                  <a href="#" class="red-button">download here</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="social-networks">
          <div class="myContainer">
            <div class="row">
              <div class="col-md-4 col-sm-12 social-networks__block mb-5">
                <h5 class="social-networks__title text-uppercase text-center mb-3">
                  location
                </h5>
                <p class="text-center">3481 Melrose Place
                  <br> Beverly Hills, CA 90210</p>
              </div>
              <div class="col-md-4 col-sm-12 social-networks__block text-center mb-5">
                <h5 class="social-networks__title text-uppercase mb-3">
                  share with love
                </h5>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook team__icon social-networks__icon"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter team__icon social-networks__icon"></i></a>
                <a href="https://linkedin.com"><i class="fa fa-linkedin team__icon social-networks__icon"></i></a>
              </div>
              <div class="col-md-4 col-sm-12 social-networks__block mb-5">
                <h5 class="social-networks__title text-center text-uppercase mb-3">
                  About ActiveBox
                </h5>
                <p class="social-networks__text text-center">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="footer no-padding" id="footer">
          <div class="row">
            <div class="col-12 footer__text text-center">
              <h6>Copyright © 2015 ActiveBox. All Rights Reserved <br></h6> Made with <span class="footer__y">Y</span> <span class="footer__by">by Kamal Chaneman</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
      name: "app",
      data() {
        return {
          items: [],
          selectedItemsIndexes: [],
        }
      },
      computed: {
        hasItems() {
          return this.items.length > 0
        }
      },
      methods: {
        getItems() {
          this.axios.get('https://jsonplaceholder.typicode.com/photos')
            .then(response => {
              this.collectItems(response.data)
            })
        },
        collectItems(items) {
          this.items = [];

          for(let i = 0; i < 6; i++){
            let index = this.randomIndexes(items);
            this.items.push(items[index])
          }
        },
        randomIndexes(items) {
            let index = Math.floor(Math.random()*items.length);
            if(this.selectedItemsIndexes.indexOf(index) !== -1) {
              this.randomIndexes(items)
            }
            this.selectedItemsIndexes.push(index);
            return index
        }
      }
    }
</script>
<style lang="scss">
  @import '../src/assets/scss/main.scss';
</style>
