@media (min-width: 1551px) {
  blockquote h2 {
    width: 50%!important;
  }
}
@media (min-width: 1199px) {
  .mmenu-button a {
    display: none;
  }
  header img {
    height: 1.5vmax!important;
  }
  h1 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2rem;
  }
	.header-content {
		padding: 0 2.5rem;
	}
  .header-text {
     height: 100vh;
   }
  .block {
    margin: 15rem 0!important;
  }
}
@media (min-width: 991px) and (max-width: 1198px){
 .content {
   width: 100vw;
 }
  h2 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2rem;
  }
  .block {
    margin: 15rem 0!important
  }
}
@media (max-width: 991px) {
	#header {
		padding: 0.625rem 0;
	}
	#header img {
		margin: 0.625rem 0;
	}
	.team__icon{
		margin: 0;
	}
	.social-networks {
		padding: 1.25rem 0 1.25rem;
	}
	.team__block img {
		margin-top: 2.5rem;
	}
}
@media (min-width: 761px) and (max-width: 766px) {
  .block {
    margin: 13rem 0 6rem!important;
  }
}
@media (min-width: 767px) and (max-width: 990px) {
  .block {
    margin: 18rem 0!important;;
  }
	section.information {
		padding: 3.125rem 0;
	}
	.team__block img {
		width: 75%;
	}
	section.people {
		padding: 3.125rem 0;
	}
	.team__icon {
		margin: 0 0.25rem 2.5rem;
	}
	.team {
		margin-bottom: 0.625rem;
	}
	.carousel-indicators {
		justify-content: center
	}
	.social-networks__text {
		margin: 1.25rem 0 0;
	}
	.social-networks__title {
		margin: 0;
	}
}
@media (min-width: 575px) {
  .team__block img {
    width: 90% !important;
  }
}
@media (max-width: 575px) {
  	.mmenu-button a {
		padding: 0;
	}
	.carousel-item.active {
		display: block;
		height: 17.8965rem;
	}
	.content {
		height: 9.375rem!important;
	}
	.testimonials cite {
		margin-top: 0.9375rem;
	}
	.team__block img {
		width: 50%;
	}
}
@media (max-width: 390px){
	.testimonials cite {
		margin: 0;
	}
}
@media (max-width: 331px) {
 .container a.knopka {
	padding-left: 5.625rem;
	padding-right: 5.625rem;
	}
}
@media (min-width: 320px) and (max-width: 760px){
  .text-block h1 {
    margin-top: 5rem!important;
  }
  .team__block {
    text-align: center!important;
  }
  blockquote h2 {
    width: 100% !important;
    font-size: 1.15rem;
  }
  .testimonials cite {
    font-size: .6rem;
  }
  .carousel-item {
    padding: 0 25px!important;
  }
 .block {
   margin: 7rem 0;
 }
}
@media (min-width: 320px) and (max-width: 1199px) {
  .carousel-indicators{
    display: flex;
    justify-content: flex-end
  }
  .mmenu-button a {
    display: block;
  }
  .navigation {
    display: none;
  }
}
